<!DOCTYPE html>
<html>
  <head>
    <title>List of promo codes</title>
  </head>
  <body>
    <h2>
        List of promo codes
    </h2>
    <table>
      	<tr>
            <th>Store</th>
            <th>Promo</th>
            <th>Discount</th>
    	</tr>
			{{ range .Promo }}
      		    <tr>
                    <th>{{ .Store }}</th>
                	<th>{{ .PromoCode }}</th>
                	<th>{{ .Discount }}</th>
      		    </tr>
			{{ end }}
    </table>
  </body>
</html>